body {
    text-align: center;
    background-color: #94c1e6;
  }
  
  h1 {
    font-size: 5rem;
    color: #212dcc;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 0 #DA0463;
  
  }
 
  
  .w {
    background-image: url("images.png/tom1.png")
  
  }
  
  .a {
    background-image: url("images.png/tom2.png")
  }
  
  .s {
    background-image: url("images.png/crash.png")
  }
  
  .d {
    background-image: url("images.png/snare.png")
  }
  
  .j {
    background-image: url("images.png/tom3.png")
  }
  
  .k {
    background-image: url("images.png/kick.png")
  }
  
  .l {
    background-image: url("images.png/tom4.png")
  }
  
  .set {
    margin: 10% auto;
    
    
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }
  
  .drum {
    outline: none;
    border: 10px solid #616c8b;
    font-size: 5rem;
    font-family:'Yuji Hentaigana Akebono', cursive;
    line-height: 2;
    font-weight: 900;
    color:  #17f1d4;
    text-shadow: 3px 0 #DA0463;
    border-radius: 10px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: rgb(220, 244, 248);
  }